/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

nav .navbar-brand .white 
{
    color: white;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: .05rem;
    height: .4rem;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(27, 27, 27, .4);
    border-radius: 3px;
}
::-webkit-scrollbar-track{
    background: transparent;
}


button.active {
    background-color: #212529 !important;
    color: white;
}

.nav-link-small {
    color: black;
    background-color: white !important;
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    border-radius: 1rem !important;
}

ul {
    border: 1px solid #212529;
    border-radius: 1rem;
}

.card-img-top {
    border-radius: 0.5rem;
}

.tab-content {
    position: relative;
}

.right-bg::after {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    height: calc(100% - 20px);
    right: -1em;
    position: absolute;
    z-index: 9999999;
    margin-left: auto;
    top: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .7) 40%, #fff 70%);
}

.img-fluid {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}



