<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link href="/static/favicon.ico" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">

        <title>Movies</title>

    </head>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
              <a class="navbar-brand" href="#">Movies</a>
            </div>
          </nav>

        <main class="container-fluid py-5 text-left">
            {% block main %}{% endblock %}
        </main>

    </body>

    <!-- Footer -->
<footer class="page-footer font-small bg-dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <p style="color:white;">Data provided for free by <a href="https://www.themoviedb.org/">TMDb</a>. View <a href="https://www.themoviedb.org/">TMDb’s Terms of Use</a>.</p>
    </div>
    <!-- Copyright -->
  
  </footer>

    <footer class="small text-center text-muted bg-dark text-white">
        
    </footer>

</html>
